body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    font-family: 'Lunasima', sans-serif;
    background-color: #e7dfd8;
}

div {
    margin: 3vw;
    margin-bottom: 15vw;
    border: 1px solid black;
    padding: 2vw;
    border-radius: 70px 10px;
}

#title, #dev6 {
    margin-bottom: 3vw;
}

#title {
    border: 0;
    width: 28vw;
    font-size: 2.5vw;
    background-color: beige;
}

#dev4, #dev5, #dev6 {
    text-align: center;
}

div p, #dev1 h2, #dev1 a {
    text-align: left;
}

.cl1 {
    display: inline-block;
    height: 25vw;
    margin: 0.5vw;
}

h2 {
    font-size: 5vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 2vw;
}

a {
    display: block;
    text-align: center;
    margin-top: 1vw;
}

#dev1 {
    display: flex;
    font-family: 'Lunasima', sans-serif;
}

.esp {
    margin: 2vw;
    padding: 0px;
    border: 0px;
    border: 0px;
    display: inline-block;
}
